@media screen and (max-width: 800px) {
  .cointContainer {
    width:  100%;
    height: 70%;
  }
  .coinPrice {
    padding-right: 200px;
  }

  .coinVolume {
    padding-right: 80px;
  }
  
  .coinMarketcap{
    padding-right: 0px;
  }

  .coinSymbol {
    padding-left: 20px;
  }
}

.cointContainer {
  display: flex;
  justify-content: center;
}

.coinRow {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-content: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coinSymbol {
  text-transform: uppercase;
}

.coinData {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coinPrice {
  width: 80px;
}

.coinVolume {
  width: 150px;
}

.coinMarketcap {
  width: 155px;
}

.coinPercent {
  width: 100%;
}

.coinPercentRed {
  width: 110px;
  color: #f00606;
}

.coinPercentGreen {
  color: #11d811;
  width: 110px;
}
